node_modules/
.env
.env.*
!.env.example
!.env.test.example

# builds
build/
dist/
coverage/
coverage-all/

# hardhat
artifacts/
cache/
types/
ignition/deployments/

# logs
*.log
npm-debug.log*

.DS_Store
